table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
  width: 200px
}

th, td {
    padding: 10px
}

div {
    word-break: break-word
}

p {
  border: 2px solid red;
  border-radius: 5px;
  background-color: lightcoral;
  width: 400px
}

header {
    background-color: lightcoral;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
}

img {
  width: 100%
}